*{
  margin:0;
  padding: 0;
}
body{
  margin: 0;
  background-color: #fafafa;

}


.banner{
  height: 8vh;
  padding-top: 4vh;
  position: relative;
  z-index: 2;
  background-color: #11192D;


}
/*codigo por marcela*/
.menu_bar {
  display:none;
}
h2{  display: inline-block;
    font-size: 5vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #11192D;
}

section .nav-banner ul {
  overflow:hidden;
  list-style:none;
}
section .nav-banner ul li {
  float:left;
  padding: 1px 0px;
}
/*final codigo por marcela*/
.banner-responsive{
  display: none;
  background-color: #11192D;


}
.nav-banner{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  height: 4vh;
  position: absolute;
  top: 4vh;
  left: 20%;
}
.nav-banner a{
  text-transform: uppercase;
  text-decoration: none;
  color: #11192D;
  font-size: 2.5vh;
  /*padding-left: 4%;*/
  /*padding-right: 1%;*/
  padding: 0% 3%;
  border-left: 2px solid white;
 /* margin-left: 4%;*/
}
.nav-banner a:hover {
  color: gray;
}
.logo-banner{
  width: 4%;
  display: inline-block;
  position: absolute;
  top: -4%;
  left: 10%;
}
.logo-banner img{
  width: 95%;

}
#promocion-1{
  display: block;
}
#promocion-2{
  display: none;
  padding: 2%;
  background-color: rgba(158, 5, 48, 0.45);
  text-align: center;
}
#promocion-2 h3{
  text-align: center;
}
.descripcioneventos{
  position: absolute;
  background-color: #11192D;
  width: 100%;
  height: 45%;
  bottom: 0%;
  left: 0%;
  margin: 0%;

 }

.descripcionlago{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(17,25,45,0.65);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 10%;
  margin: 0%;
} 